.directory {
    &.open {
        .directory-children {
            margin-top: 1rem;
        }
    }

    &:before {
        content: "\f07c";
        margin: 0 0.5rem;
    }

    &:hover:not(.open) {
        transform: translateY(-10px);
    }

    .dir-name {
        padding: 0.5rem;
    }

    .directory-children {
        overflow: hidden;
    }
}

.file {
    &:before {
        content: "\f15c";
        margin: 0 0.5rem;
    }

    &:hover {
        box-shadow: 1px 1px 0.5rem 1px rgba($color: black, $alpha: 0.5);
    }

    .file-name {
        align-items: center;
        display: inline-flex;
        justify-content: space-between;
        padding: 0.5rem;
        width: 90%;
    }

    .file-details {
        overflow: hidden;
    }
}
