body {
	margin: 0;
	padding: 0;
}

* {
    transition: all 0.5s;
}

@font-face {
    font-family: 'FontAwesome';
    font-style: normal;
    font-weight: normal;
    src: url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/fonts/fontawesome-webfont.eot?#iefix&v=4.7.0') format('embedded-opentype'),
		url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular') format('svg'),
		url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/fonts/fontawesome-webfont.ttf?v=4.7.0') format('truetype'),
		url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/fonts/fontawesome-webfont.woff?v=4.7.0') format('woff'),
		url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/fonts/fontawesome-webfont.woff2?v=4.7.0') format('woff2');
}

#root {
	align-items: start;
	display: flex;
	justify-content: start;

	.content {
		animation: popout 0.2s linear 0s forwards;
		border-radius: 5px;
		border: 1px solid rgba($color: gray, $alpha: 0.5);
		margin: 1rem;
		font-family: system-ui;
		padding: 1rem;
		position: relative;

		&:before {
			font-family: FontAwesome;
		}

		.child > a {
			color: rgb(53 53 198);
			text-decoration: none;

			&:visited {
				color: rgb(53 53 198);
				outline: none;
			}
		}
	}
}

@keyframes popout {
	0% {
		transform: scale(0);
	}

	100% {
		transform: scale(1);
	}
}
