body {
	margin: 0;
	padding: 0;
}

* {
    transition: all 0.5s;
}

@font-face {
    font-family: 'FontAwesome';
    font-style: normal;
    font-weight: normal;
    src: url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/fonts/fontawesome-webfont.eot?#iefix&v=4.7.0') format('embedded-opentype'),
		url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular') format('svg'),
		url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/fonts/fontawesome-webfont.ttf?v=4.7.0') format('truetype'),
		url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/fonts/fontawesome-webfont.woff?v=4.7.0') format('woff'),
		url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/fonts/fontawesome-webfont.woff2?v=4.7.0') format('woff2');
}

#root {
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;

	.content {
		border-radius: 5px;
		border: 1px solid rgba($color: gray, $alpha: 0.5);
		cursor: pointer;
		margin: 1rem;
		font-family: system-ui;
		padding: 1rem;
		position: relative;

		&:before {
			font-family: FontAwesome;
		}
	}
}
